@import url('https://fonts.googleapis.com/css?family=Francois+One')
font = "Francois One", sans-serif
width = 800px
narrow = '(max-width ' + width + ')'  // use "@media narrow"

common-background = alpha(white, 0.55)
common-spacing = 16pt

link-color = blue